<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data Exploration</title>

    <meta charset="UTF-8">
    <meta name="author" content="Ethen Liu">
    <meta name="description" content="Data Exploration">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>Flight Information</h1>
        </div>
        {% block body %}{% endblock %}
    </div>

    <div id="footer">
        <div class="container">
            <p>By Ethen Liu, 2018</p>
        </div>
    </div>

    <script src="/static/bootstrap.min.js"></script>
</body>
</html>