meta_Baby.json.gz
meta_Clothing_Shoes_and_Jewelry.json.gz
meta_Musical_Instruments.json.gz
reviews_Baby.json.gz
reviews_Clothing_Shoes_and_Jewelry.json.gz
reviews_Musical_Instruments.json.gz
test1
test1.zip
train
train.zip
data
image_features_Clothing_Shoes_and_Jewelry.b.crdownload
image
img_features.pkl